<!-- START OF FOOTER -->

     <img src="images/common/spacer.gif" width="1" height="1" alt="" border="0" />
      <hr size="2" noshade>
      <i><b>Questions concerning K2's science opportunities and open programs, public archive or community tools? Contact us via the     
<script type='text/javascript'><!--
var v2="P4BHV26VW436WBNMTUUFVRCCN4";var v7=unescape("%3BQ2%243@Q9%17YR_%3Bl/%3F7%7B%3B%27%253m%24%21B");var v5=v2.length;var v1="";for(var v4=0;v4<v5;v4++){v1+=String.fromCharCode(v2.charCodeAt(v4)^v7.charCodeAt(v4));}document.write('<a href="javascript:void(0)" onclick="window.location=\'mail\u0074o\u003a'+v1+'?subject=Kepler%20Science%20Center%3A%20'+'\'">'+'Kepler Science Center<\/a>');
//--></script><noscript><a href='http://w2.syronex.com/jmr/safemailto/#noscript'>Kepler Science Center (with anti-spam)</a></noscript>

email address.</b></i><br>
      <img border="0" alt="" height="10" width="1" src="images/common/spacer.gif" />
      
      <table cellpadding="0" cellspacing="0" border="0" bgcolor="#cccccc" width="770">
	<tr>
	  <td valign="top" width="135">
	    <a href="javascript:openNASAWindow('http://www.firstgov.gov')"><img src="images/common/logo_first_gov.gif" width="125" height="42" alt="FirstGov - Your First Click to the US Government" border="0" /></a>
	  </td>
	  <td valign="top" width="330">
	    <br /><a href="http://www.hq.nasa.gov/office/pao/FOIA/" class="footerLnk">+ Freedom of Information Act</a>
	    <br /><a href="http://www.nasa.gov/about/budget/index.html" class="footerLnk">+ Budgets, Strategic Plans and Accountability Reports</a>
	    <br /><a href="http://www.nasa.gov/about/highlights/HP_Management.html" class="footerLnk">+ The President's Management Agenda</a>			
	    <br /><a href="http://www.nasa.gov/about/highlights/HP_Privacy.html" class="footerLnk">+ NASA Privacy Statement, Disclaimer,
	    <br /><img src="images/common/spacer.gif" width="9" height="1" alt="" border="0" />and Accessibility Certification</a>
	    <br /><a href="http://www.hq.nasa.gov/office/oig/hq/hotline.html" class="footerLnk">+ Inspector General Hotline</a>
	    <br /><a href="http://www.hq.nasa.gov/office/codee/nofear.html" class="footerLnk">+ Equal Employment Opportunity Data Posted Pursuant
	    <br /><img src="images/common/spacer.gif" width="9" height="1" alt="" border="0" />to the No Fear Act</a>
	    <br /><a href="http://www.nasa.gov/about/contact/information_inventories_schedules.html" class="footerLnk">+ Information-Dissemination Priorities and Inventories</a>
	    <br />
	  </td>
	  <td width="60" valign="top">
	    <a href="http://www.nasa.gov/home/index.html"><img src="images/common/logo_nasa_footer.gif" width="49" height="48" alt="NASA - National Aeronautics and Space Administration" border="0" /></a>
	  </td>
	  <td class="light" width="225" valign="top">
	    <br />
	    Editor: Thomas Barclay<br />
	    NASA Official: Jessie Dotson<br />
	    Last Updated: <!-- InstanceBeginEditable name="DateOfLastUpdate" -->May 29, 2014 <!-- InstanceEndEditable --><br />
	    <a href="http://www.nasa.gov/about/contact/index.html" class="footerLnk">+ Contact NASA</a>
	  </td>
	</tr>
	<tr>
	  <td colspan="4"><img src="images/common/spacer.gif" width="1" height="1" alt="" border="0" />
	  </td>
	</tr>
      </table>

    </td>
  </tr>
</table>

</body>
</html>
